{%  extends 'main.htm' %}
{% block content %}
		<br>
		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Products</h5>
				</div>
				<div class="card card-body">
					<form method="POST" action="" enctype="multipart/form-data">
						{% csrf_token %}
						{{adform.as_p}}
				
					<input class="btn btn-primary" type="submit">
				</div>
			</div>
		</div>
{% endblock content %}
        <!-- <form method="post">
          {% csrf_token %}
           {{form.as_p}} 
        <div>
           <button class="form-actions" type="submit">Send</button>
          {% for message in messages %}
            {{message}}
          {% endfor %}
          </div>
        </div>
        </form>
        <h2>{{user.username}}</h2>
        {% for posts in post %}
          <h1>{{posts.post}}</h1>
        {% endfor %} -->
  