<style>
    .info{
        padding-top: 50px;
        padding-left:10cm;
    }

</style>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <div class="w3-top">
        <div class="w3-bar w3-white w3-card" id="myNavbar">
          <a href="home" class="w3-bar-item w3-button w3-wide">LOGO</a>
          <!-- Right-sided navbar links -->
          <div class="w3-right w3-hide-small">
            <a href="about" class="w3-bar-item w3-button">ABOUT</a>
            <a href="advertiser" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Advertiser</a>
            <a href="shopkeeper" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Shopkeeper</a>
            <a href="password_change" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Change Password</a>
            <a href="logout" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Logout</a>
            </div>
          <!-- Hide right-floated links on small screens and replace them with a menu icon -->
          <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
            <i class="fa fa-bars"></i>
          </a>

          <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
            <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
            <a href="about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
            <a href="advertiser" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
            <a href="shopkeeper" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
            <a href="password_change" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a>
            <a href="logout" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
          </nav>
        </div>
    </div>
        <div class=info>
        we are processing your quirey.....
        as soon as possible you are gatting response form as
        <a href="{% url 'home' %}">return to home page</a>
        </div>  

    <script>
        // Modal Image Gallery
        function onClick(element) {
          document.getElementById("img01").src = element.src;
          document.getElementById("modal01").style.display = "block";
          var captionText = document.getElementById("caption");
          captionText.innerHTML = element.alt;
        }
        
        
        // Toggle between showing and hiding the sidebar when clicking the menu icon
        var mySidebar = document.getElementById("mySidebar");
        
        function w3_open() {
          if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
          } else {
            mySidebar.style.display = 'block';
          }
        }
        
        // Close the sidebar with the close button
        function w3_close() {
            mySidebar.style.display = "none";
        }
        </script>
      


