{% extends 'main.htm' %}
{% block content %}
    <form class="loginclass" action="login" method="POST">
    {% csrf_token %}
      <h2><span class="entypo-login"><i class="fa fa-sign-in"></i></span> Login</h2>
        <span class="entypo-user inputUserIcon">
        <i class="fa fa-user" style="font-size:25px;">  Username :</i>
        </span>
        <input type="text" class="user" placeholder="username" name="username"/><br>
        <span class="entypo-key inputPassIcon">
        <i class="fa fa-key" style="font-size:25px;"> Password :</i>
        </span>
        <input type="password" class="pass" placeholder="password" name="password"/><br>
        <button type="submit" class="button"><span class="entypo-lock"><i class="fa fa-lock"></i>  login</span></button>
          <h3>
            {% for message in messages %}
              {{message}}
            {% endfor %}
          </h3>
            {{form}}
      </form> 
{% endblock %}